
@{
    Layout = null;
}
@model Pharmscy_Management.Models.career

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resume</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="~/Design/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Design/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Design/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Design/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Design/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Design/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Design/css/aos.css">
    <link rel="stylesheet" href="~/Design/css/style.css">


</head>

<body>

    <div class="site-navbar py-2">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div class="logo">
                    <div class="site-logo">
                        <a href="@Url.Action("Index","Home")" class="js-logo-clone">PHARMACY</a>
                    </div>
                </div>
                <div class="main-nav d-none d-lg-block">
                    <nav class="site-navigation text-right text-md-center" role="navigation">
                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                            <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li class="has-children">
                                <a href="#">Products</a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="@Url.Action("capsules","Home")">Capsule</a>
                                        <a href="@Url.Action("Tablet","Home")">Tablets</a>
                                        <a href="@Url.Action("Liquid_fillings","Home")">Liquid Filling</a>
                                    </li>
                                </ul>
                            </li>

                            <li>  @Html.ActionLink("Quote Us", "Quote_Us", "Home") </li>
                            <li>  @Html.ActionLink("Career", "career", "Home") </li>
                            <li>  @Html.ActionLink("About Us", "AboutUs", "Home") </li>
                            <li>  @Html.ActionLink("Contact Us", "Contact_Us", "Home") </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <br />

    @*<div class="site-blocks-cover" style="background-image: url('/Design/images/1bg.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
                    <div class="site-block-cover-content text-center">
                        <h1>Welcome To PHARMACY</h1>
                        <h2 class="sub-title">Effective Medicine, New Medicine Everyday</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    
    <div class="site-section">
        <div class="container">
            <h1 class="text-body">UPLOAD YOUR RESUME</h1>
            <div class="row">

                <div class="col-md-12">
                    <h2 class="h3 mb-5 text-black"></h2>
                </div>

                <div class="col-md-12">

                    @using (Html.BeginForm("resume", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {

                        <form action="#" method="post">

                            <div class="p-3 p-lg-5 border">
                                <div class="form-group row">

                                    <div class="col-md-6">
                                        <label for="c_fname" class="text-black">Name <span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(x => x.firsrt_name, new { @class = "form-control", placeholder = " First Name" })
                                    </div>
                                    <div class="col-md-6">
                                        <label for="c_lname" class="text-black">  <span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(x => x.last_name, new { @class = "form-control", placeholder = "Last Name" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="c_email" class="text-black">Select Gendre <span class="text-danger">*</span></label>
                                        @Html.RadioButtonFor(x => x.gendre, "Male")<span>Male</span>
                                        @Html.RadioButtonFor(x => x.gendre, "Female")<span>Female</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="c_subject" class="text-black">Country </label>
                                        @Html.TextBoxFor(x => x.country, new { @class = "form-control", placeholder = "Country Name" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="c_subject" class="text-black">Address </label>
                                        @Html.TextBoxFor(x => x.address, new { @class = "form-control", placeholder = "Present Address" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="c_subject" class="text-black">Phone </label>
                                        @Html.TextBoxFor(x => x.phone_no, new { @class = "form-control", placeholder = "" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="c_subject" class="text-black">Email </label>
                                        @Html.TextBoxFor(x => x.email, new { @class = "form-control", placeholder = "Mail Address" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="c_subject" class="text-black">Qualification </label>
                                        @Html.TextBoxFor(x => x.Qualification, new { @class = "form-control", placeholder = "Enter Your Recent Qualififation" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="c_subject" class="text-black">Experience </label>
                                        @Html.TextBoxFor(x => x.Experience, new { @class = "form-control", placeholder = "Phone Number" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="c_message" class="text-black">Cover Letter </label>
                                        @Html.TextAreaFor(x => x.cover_letter, new { @class = "form-control", placeholder = "Your Message" })

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="c_message" class="text-black">Resume </label>
                                        <input type="file" id="img" name="img" />
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
                                    </div>
                                </div>
                            </div>
                        </form>

                    }@{ Html.EndForm();}
                </div>

            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

                    <div class="block-7">
                        <h3 class="footer-heading mb-4">About Us</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quae reiciendis distinctio voluptates
                            sed dolorum excepturi iure eaque, aut unde.
                        </p>
                    </div>

                </div>
                <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
                    <h3 class="footer-heading mb-4">Quick Links</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Supplements</a></li>
                        <li><a href="#">Vitamins</a></li>
                        <li><a href="#">Diet &amp; Nutrition</a></li>
                        <li><a href="#">Tea &amp; Coffee</a></li>
                    </ul>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-5 mb-5">
                        <h3 class="footer-heading mb-4">Contact Info</h3>
                        <ul class="list-unstyled">
                            <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                            <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                            <li class="email">emailaddress@domain.com</li>
                        </ul>
                    </div>


                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
                        with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
                                                                                 class="text-primary">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </div>
    </footer>
    </div>

    <script src="~/Design/js/jquery-3.3.1.min.js"></script>
    <script src="~/Design/js/jquery-ui.js"></script>
    <script src="~/Design/js/popper.min.js"></script>
    <script src="~/Design/js/bootstrap.min.js"></script>
    <script src="~/Design/js/owl.carousel.min.js"></script>
    <script src="~/Design/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Design/js/aos.js"></script>
    <script src="~/Design/js/main.js"></script>

</body>
</html>
